<div class="page-header">
  <%= link_to new_registration_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Registration
  <% end %>
  <h1>Listing registrations</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Email</th>
            <th>Token</th>
            <th>Expired date</th>
            <th>Operator confirmed</th>
            <th>Vaild</th>
            <th>Customer type</th>
            <th>Email send at</th>
            <th>Create by</th>
            <th>Updated by</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%@registrations.each do |registration| %>
        <%=tag.tr do%>
                  <td><%= registration.email %></td>
                  <td><%= registration.token %></td>
                  <td><%= registration.expired_date %></td>
                  <td><%= registration.operator_confirmed %></td>
                  <td><%= registration.vaild %></td>
                  <td><%= registration.customer_type %></td>
                  <td><%= registration.email_send_at %></td>
                  <td><%= registration.create_by %></td>
                  <td><%= registration.updated_by %></td>
                  <td><%= link_to 'Show', registration %></td>
          <td><%= link_to 'Edit', edit_registration_path(registration) %></td>
          <td><%= link_to 'Destroy', registration, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
